img {
    margin-top: 5px;
    margin-left: 580px;
    width: 200px; height: 70px;
}

form{ 
    font-family: Impact;      
    text-align: Center; 
} 

h1 {
    font-family: Impact;
    text-align: center;
}

body{ 
    background-color:#7A8B8Bc; 
}

input{
    font-family: Impact;      
    text-align: Center;
}
