.imgclass img {
    width: 200px; height: 70px;
}
.imgclass {
    margin-top: 5px;
    margin-left: 580px;
}


h1 {
    font-family: Impact;
    text-align: center;
}

.homebtns input{
    font-family: Impact;      
    text-align: Center;
    background-color: #4567ED;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

.homebtns {
    margin-top: 5px;
    width: 600px;
    position: absolute;
    top: 5px;
}

.bodydiv {
    background-color: #6495ED;
    margin-top: 0px;
}
