.btns {
    width: 150px;
}

.btns input {
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-width: 0.3px;
    border-radius: 10px;
    width: 21px;
    height: 19px;
}

.btnclear {
    width: 50px;
}

.btnclear input {
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-width: 0.3px;
    border-radius: 10px;
    width: 40px;
    height: 19px;
}

textarea:focus, input:focus{
    outline: none;
}